name: Terraform Deploy
# on:
#   workflow_run:
#       workflows: ["Security Scan"]
#       types:
#         - completed

      #endpoints with zap??

      #quality
on:
  push:
  workflow_dispatch:
    inputs:
      auto-apply:
        type: choice
        options: [true, false]
        description: 'Automatically apply the planned changes'
        required: true
        default: 'false'
      environment:
        type: choice
        options: [dev, stage, uat, prod]
        required: true
        default: dev

permissions:
  contents: read
  security-events: write
  deployments: write

jobs:
  deploy:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Terraform Plan & Apply
        uses: ./.github/actions/terraform/deploy
        with:
          environment: ${{ inputs.environment }}
          tfvars-file: ${{ inputs.environment }}.tfvars
          backend-file: ${{ inputs.environment }}.backend.tfvars
          auto-apply: ${{ inputs.auto-apply }}
          working-directory: main
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}