name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      auto-apply:
        type: choice
        options: [true, false]
        description: 'Automatically apply the planned changes'
        required: true
        default: 'false'
      environment:
        type: choice
        options: [dev, stage, uat, prod]
        required: true
        default: 'dev'

permissions:
  contents: read
  security-events: write #sji check these
  deployments: write

jobs:
  terraform-destroy:
    name: Terraform Destroy
    runs-on: ubuntu-latest    # check environment for prod branch sji
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:

      - name: Checkout
        uses: actions/checkout@v4
         
      - name: Terraform Destroy
        uses: ./.github/actions/terraform/destroy
        with:
          environment: dev
          tfvars-file: dev.tfvars
          backend-file: dev.backend.tfvars
          auto-apply: true