#sji todo - as part of dr plan
#useful for testing failover deployments as part of dr drills
name: Terraform DR Failover Test
on:
  workflow_dispatch:
    inputs:
      target-region:
        default: eu-west-1 #sji change this to your failover region
        description: 'Target region for failover deployment'
        required: true 

jobs:
  failover:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Failover Region
        run: |
          terraform init -backend-config=prod-${{ inputs.target-region }}.backend.tfvars
          terraform apply -var-file=prod-${{ inputs.target-region }}.tfvars -auto-approve
        env:
          AWS_DEFAULT_REGION: ${{ inputs.target-region }}